@import "global";

/*
Fonts
*/
@font-face {
	font-family: 'Adelle Sans';
	src: url('../fonts/adellesans_light-webfont.eot');
	src: url('../fonts/adellesans_light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/adellesans_light-webfont.woff2') format('woff2'),
	url('../fonts/adellesans_light-webfont.woff') format('woff'),
	url('../fonts/adellesans_light-webfont.ttf') format('truetype'),
	url('../fonts/adellesans_light-webfont.svg#adelle_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Reset
*/
@import "inc/normalize";

html {
	box-sizing: border-box;
	@include rhythm-normalize();
}

*, *::before, *::after {
	box-sizing: inherit;
}

/*
Modules
*/
@import "modules/svg_sprite";

/*
Layout
*/
html {
//	background: url( 'http://placehold.it/2000x2000' ) no-repeat center center fixed;
//	background-size: cover;
}

.static_bg {
	display: block;
	position: fixed;
	z-index: -1;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	transform: translateZ(0);
	background: url('../images/main_background.jpg') no-repeat center center;
//	background: url('http://placehold.it/2000x2000') no-repeat center center fixed;
	background-size: cover;
	}
	.static_bg__image {
		display: block;
		width: 100%;
		height: 100%;
	}

.home_slide {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	}
	.home_slider__inner {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate( -50%, -50% );
	}
	%home_slider_text {
		display: block;
		color: #FFF;
		font-family: "Adelle Sans", Arial;
		text-transform: uppercase;
		line-height: 1.1;
		text-align: center;
		text-shadow: 0 0 10px black;

	}
	.home_slider__name {
		@extend %home_slider_text;
		font-size: 45px;
		font-weight: bold;
		letter-spacing: 15px;

		strong {
			display: block;
			font-weight: bold;
			font-size: 110px;
			letter-spacing: 20px;
		}
	}
	.home_slider__meta {
		@extend %home_slider_text;
		font-size: 20px;
		font-weight: normal;
		text-shadow: 0 0 5px #000;
		}
		.home_slider__meta__separator {
			margin: 0 20px;
		}

	.home_slider__scroll_down {
		font-size: 0;
		color: transparent;
		margin-left: calc( 50% - ( 45px / 2 ) );

		&::before {
			@include svg_sprite_scroll_bottom();
		}
	}

.content_wrap {
	position: absolute;
	top:100%;
	width: 100%;
	min-width: $content_widht;
}

.toolbar {
	height: $toolbar_height;
	background: $dark_blue;
	background-image: linear-gradient( to right, $dark_blue 0%, $dark_blue 50%, $light_blue 50%, $light_blue 100% );
	transform: translateZ(0);
	z-index: 10;
	position: relative;

	}

	.toolbar.isStuck {
		left: 0;
		right: 0;
		top: 0;
		position: fixed;

		@include respond-to( 'max-content' ) {
			position: relative !important;
		}
	}
	
	.toolbar__inner {
		width: $content_widht;
		margin: 0 auto;
		background-image: linear-gradient( to right, $dark_blue 0%, $dark_blue $logo_width, $light_blue $logo_width, $light_blue 100% );
		height: 100%;

		font-size: 0;

		& > * {
			font-size: 1rem;
		}

		&::after {
			content: '';
			height: 100%;
			vertical-align: middle;
		}
	}
	.toolbar__logo {
		vertical-align: middle;
		font-size: 0;
		height: 100%;
		display: inline-block;
		color: transparent;
		padding-left: 45px;
		width: $logo_width;
		}
		.toolbar__logo__image {
			display: inline-block;
			height: 100%;
			line-height: ( $toolbar_height - 5px );
			&::before {
				@include svg_sprite_logo();
			}
		}

	.toolbar__navigation {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		width: ( $content_widht - $logo_width );
		position: relative;

		@include respond-to( 'english_wrap' ) {
			width: ( ( $content_widht - $logo_width ) - 100px );
		}

		}
		.toolbar__navigation__menu {
			list-style: none;
			padding: 0 40px;
			margin: 0;
			display: block;
			text-align: justify;
			height: 100%;

			&::after {
				content: '';
				width: 100%;
				display: inline-block;
			}
			}
			%nav_menu_item_style {
				display: block;
				line-height: $toolbar_height;
				padding: 0 10px;
				font-family: "Adelle Sans", Arial;
				color: #FFF;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px/1;
			}
			.toolbar__navigation__menu__item {
				display: inline-block;
				height: 100%;

				a {
					@extend %nav_menu_item_style;
				}
			}
		.toolbar__navigation__indicator {
			position: absolute;
			height: 4px;
			width: 0;
			left: 0;
			bottom: 0;
			background: lighten( $light_blue, 20% );
			transition-property: width, transform;
			transition-duration: 200ms;
		}

	.toolbar__language_link {
		@extend %nav_menu_item_style;
		position: absolute;
		right: 20px;
		top: 0;
	}

.content {
	background: #FFF;
}

.image_paralax {
	height: 500px;
	overflow: hidden;
	z-index: 1;

	}
	.image_paralax__image {
		box-sizing: content-box;
		width: 100%;
		height: 0;
		position: relative;

		img {
			display: block;
			position: absolute;
			width: 100%;
			height: auto;
			left: 0;
			top: 0;
		}
	}