@import "global";

/*
Reset
*/
@import "inc/normalize";

html {
	box-sizing: border-box;
	@include rhythm-normalize();
}

*, *::before, *::after {
	box-sizing: inherit;
}

/*
Modules
*/
@import "modules/svg_sprite";

/*
Layout
*/
html {
//	background: url( 'http://placehold.it/2000x2000' ) no-repeat center center fixed;
//	background-size: cover;
}

.static_bg {
	display: block;
	position: fixed;
	z-index: -1;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	transform: translateZ(0);
	background: url('../images/main_background.jpg') no-repeat center center fixed;
//	background: url('http://placehold.it/2000x2000') no-repeat center center fixed;
	background-size: cover;
	}
	.static_bg__image {
		display: block;
		width: 100%;
		height: 100%;
	}

.content_wrap {
	position: absolute;
	top:100%;
	width: 100%;
	min-width: $content_widht;
}

.toolbar {
	height: $toolbar_height;
	background: $dark_blue;
	background-image: linear-gradient( to right, $dark_blue 0%, $dark_blue 50%, $light_blue 50%, $light_blue 100% );
	transform: translateZ(0);
	z-index: 10;
	
	}

	.toolbar.isStuck {
		left: 0;
		right: 0;
		top: 0;
		position: fixed;
	}
	
	.toolbar__inner {
		width: $content_widht;
		margin: 0 auto;
		background-image: linear-gradient( to right, $dark_blue 0%, $dark_blue 237px, $light_blue 237px, $light_blue 100% );
		height: 100%;

		&::after {
			content: '';
			height: 100%;
			vertical-align: middle;
		}
	}
	.toolbar__logo {
		vertical-align: middle;
		font-size: 0;
		height: 1px;
		display: inline-block;
		color: transparent;
		}
		.toolbar__logo__image {
			@include svg_sprite_logo();
		}

.content {
	background: #FFF;
}

.image_paralax {
	height: 500px;
	overflow: hidden;
	z-index: 1;

	}
	.image_paralax__image {
		box-sizing: content-box;
		width: 100%;
		height: 0;
		position: relative;

		img {
			display: block;
			position: absolute;
			width: 100%;
			height: auto;
			left: 0;
			top: 0;
		}
	}