@import "../global";

%typo {
    font-family: "Adelle Sans", Arial;

    h1, h2, h3, h4, h5, h6, p, blockquote, .split, .show_more__button {
        margin-top: 0;
        margin-bottom: rhythm(1);
    }

    > h1, > h2, > h3, > h4, > h5, > h6, > p, > blockquote, > .split, > .show_more__button {
        &:last-child {
            margin-bottom: 0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        text-transform: uppercase;
    }

    h1 {
        @include rhythm-text( 30px );
        margin-left: $sidebar_width;
    }

    h2 {
        @include rhythm-text( 26px );
    }

    h3 {
        @include rhythm-text( 22px );
    }



}