{#common}
@mixin svg_sprite() {
     content:'';
     vertical-align:middle;
     display: inline-block;
     background-image: url("{svgPath}");
     background-repeat: no-repeat;
     background-size: ({relWidth}px*10) ({relHeight}px*10);
}
{/common}
{#svg}
@mixin svg_sprite_{name} {
     @include svg_sprite();
     background-position: (({relPositionX}*10) - 10px) (({relPositionY}*10) - 10px);
     width: (({relWidth}px*10) - 20px);
     height: (({relHeight}px*10) - 20px);
}
{/svg}